a{
	color: white;
}
a:hover{
	text-decoration: none;
	color: white;
}
/*============header================*/
#header{
	height: 70px;
	background-color: #1e5480;

}

#left-header{
	padding-left: 74.5px;
	padding-top: 13px;
	padding-bottom: 11px;
}
#search{
	padding-left: 35px;
}

#search #form-search{
	width: 293px;
	height: 40px;
}

#menu{
	padding-right: 35px;
	padding-left: 68px;
}

.navbar,.navbar-nav .nav-item .dropdown-menu .dropdown-item {
	text-transform: uppercase;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: black;
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
	border-left: 4px solid #e60000;
	color: #e60000;
}

.navbar-nav .nav-item:hover > .dropdown-menu  {
	display:block;
	z-index: 1;
}
.form-inline .btn:hover{
	background-color: #e60000;
	color: #ffffff;
}
/*============header================*/
/*============content================*/
/*============content================*/



/*============footer================*/
footer{
	
	color: #e6e6e6;
	font-size: 13px;
	
}
.footer_0{
	padding: 30px 0px;
	background-color: #1e5480;
}
ul{
	padding: 0px;
	margin:0px;
}

.footer-1{
	padding-top: 0px;
	padding: 0px 0px 30px;
	margin:0px 0px 30px;
	border-bottom:1px solid #cecece78; 
}
.row{
	margin: 0px;
}
.item_0{
	width: 25%;
	margin-right: 50px;
}

.item_1{
	width: 65%;
}
.regions_2{
	width: 40%;
	padding-right: 20px;
	margin-right: 30px;
}
.regionss{
	padding:0px 0px 0px 18px;
	position: relative;
}
.regionss li{
	list-style-type: none;
}

li.add>i,li.tel>i{
	padding-top: 3px;
	position: absolute;
	left: 0%;
}
.footer_title{
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 18px;
	font-weight: bold;
	font-size: 18px;
}
.region_name{
	margin: 13px 0px 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
}

.footer_left{
	width: 75%;
}



.footer_r{
	width: 25%;
}
.menu-bottom{
	font-size: 13px;
}
.menu-bottom li{
	list-style-type: none;
	
}
.tags{
	width: 100%;
	margin-top: 20px;
	padding: 0px 20px 0px 0px;
}
li.level0{
	width: 33.3333%;
}
li.level0>h4{
	text-transform: uppercase;
	margin-bottom: 25px;
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
}
li.level1>h4{
	margin-bottom: 0px;
}
li.level1>h4 a{
	color: #CCCCCC;
	font-size: 13px;
}

li.level1>h4 a:hover{
	color: white;
	font-size: 13px;
}

li.level1>h4 i{
	font-size: 13px;
	color: white;
	padding: 0px 14px 0px 0px;
}

.level2>h4{
	text-transform: uppercase;
	margin-bottom: 25px;
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
}

.footer1{
	background-color: #0b406b;
	padding: 5px 0px;
	text-align: left;
	color: #b3b3b3;
}
.collapse1{
	display: none;
	padding-right: 10px;
	
}
.collape_1{
	margin-bottom: 10px;
	border:1px solid #E6E6E6;
	padding:10px 0px 5px 10px;
	position: relative;
}

.collape_1 h4{
	text-transform: uppercase;
	padding-bottom: 5px;
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
}

.answers ul li{
	width: 100%;
	padding: 8px 0px 7px 0px;
	margin:0px 0px 8px 22px;
	border-bottom: 1px solid #5d5a5a;
}

.collape_1 span{
	padding-top: 0px;
	float: right;
}

.collape_1 h4{
	margin-top: 3px;
}
.icon-nw{
	height: 35px;
	width: 35px;
}

@media only screen and (max-width: 1140px){
	.region_item{
		width:50%;
	}
}

@media only screen and (max-width: 720px){
	.region_item{
		width: 100%;
	}
	.tags{
		width: 100%;
	}
	.footer_left{
		width: 100%;
	}
	.footer_r{
		display: none;
	}
	.item-none{
		display: none;
	}
	.collapse1{
		display: block;
	}
	li.collapse1{
		width: 65%;
	}
	li.network{
		width: 35%;
	}
}

@media only screen and (max-width: 576.98px){
	.footer_left{
		width: 100%;
	}
	.region_item{
		width: 100%;
	}
	.tags{
		width: 100%;
	}
	.footer_r{
		display: none;
	}
	.item-none{
		display: none;
	}
	.collapse1{
		display: block;
	}
	li.level0{
		width: 100%;
	}
}

@media only screen and (max-width: 1200px){
	.container{
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
	}
}